// This automatically creates a layout structure where you have a container
// and content, the content is always centered in the container with a max width
// its scales automagically and always has the right margin on the sides.


$content-max-width-slim-difference: $content-max-width - $content-max-width-slim;


.container{
   display: flex;
   align-items: center;
   flex-direction: column;

   width:100%;

   padding:0px $content-padding;

   .content{
      width:100%;
      max-width:$content-max-width;

      &.slim, .slim{
         // max-width:$content-max-width-slim;

         padding-left: $content-max-width-slim-difference / 2;
         padding-right: $content-max-width-slim-difference / 2;

         @include media-tablet(){
            padding-left: 60px;
            padding-right: 60px;
         }
         @include media-mobile(){
            padding-left: 30px;
            padding-right: 30px;
         }
      }
   }
}