body{
   font-family: $font-text;
   font-size:18px;
   color: $c-black;

   @include media-tablet() { font-size:16px; }
}

.bg-dark{
   background:$c-black;
   color: $c-white;
}
.bg-primary{
   background:$c-primary;
   color: $c-white;
}
.bg-light{
   background:$c-white;
   color: $c-black;
}

h1, h2, h3, h4, h5, h6{
   font-family: $font-title;

   line-height:1.5;
   // letter-spacing: 0.03em;
   // letter-spacing: 0.1em;
   
   // &.small{
   //    font-size: 0.8em;
   // }
   
   &.primary{
      color:$c-primary;
   }
   &.no-margin{
      margin:0;
   }
}
h1, h2, h3{
   font-weight: bold;
   margin-bottom: 0.2em;
}
h4, h5, h6{
   font-weight: normal;
   margin-bottom: 0.6em;
}

h1{
   font-size:60px;
   @include media-tablet() { font-size:50px; }
   @include media-mobile() { font-size:35px; }
}
h2{
   font-size:40px;
   @include media-tablet() { font-size:35px; }
   @include media-mobile() { font-size:30px; }
}
h3{
   font-size:30px;
   @include media-mobile() { font-size:24px; }
}
h4{
   font-size:24px;
   @include media-mobile() { font-size:20px; }
}



p{
   line-height:1.8;
   margin-bottom: 1em;

   &.spaced{
      text-transform: uppercase;
      letter-spacing: 0.2em;
   }
   &.small{
      font-size: 0.8rem;
   }
   &.subtitle{
      font-family: $font-title;
   }
   &.primary{
      color:$c-primary;
   }
   &.no-margin{
      margin:0;
   }
}

.secondary{
   opacity: 0.5;
}

ul{
   width:100%;

   li{
      display:flex;
      justify-content:  flex-start;
      align-items: center;

      list-style-type: none;

      margin-bottom: $small-gap;

      a{
         text-decoration: none;
         display:flex;
         justify-content:  flex-start;
         align-items: center;

         width:100%;
      }

      .icon{
         display:flex;
         justify-content: center;
         align-items: center;

         width:48px;
         height:48px;
         
         color:$c-primary;
         
         border:1px solid $c-primary;
         border-radius: $border-radius;

         margin-right:$small-gap;
      }
   }
}

a{
   color:inherit;
}