$c-white: #fff;
$c-gray: rgba(92, 102, 99, 0.486);

// $c-primary: rgb(73,169,136);
$c-primary: rgb(41, 146, 109);
$c-primary-dark: rgb(32, 105, 89);

$c-black: rgb(31, 34, 31);

$border-radius: 8px;
$grid-gap: 40px;
$small-gap: 10px;

$content-max-width: 1024px;
$content-max-width-slim: 720px;
$content-padding: 20px;

$font-text: 'Atkinson Hyperlegible', sans-serif;
$font-title:  'Oswald', sans-serif;

$content-max-width: 1280px;
$content-max-width-slim: 1024px;